
<h1>Accueil</h1>


<h2>Applications</h2>

<p></p><a href="{% url 'appli_gestion_vendeurs:main_vendeurs' %}">Gestion des vendeurs</a></p>
<p></p><a href="{% url 'appli_gestion_acheteurs:main_acheteurs' %}">Gestion des acheteurs</a></p>

<h2>Ajout de données</h2>

<p><a href="{% url 'ajouter_acheteur' %}">ajouter_acheteur</a></p>
<p><a href="{% url 'ajouter_vendeur' %}">ajouter_vendeur</a></p>
<p><a href="{% url 'ajouter_agent' %}">ajouter_agent</a></p>
<p><a href="{% url 'ajouter_bien' %}">ajouter_bien</a></p>
<p><a href="{% url 'ajouter_rdv' %}">ajouter_rdv</a></p>
<p><a href="{% url 'ajouter_fait' %}">ajouter_fait</a></p>

